* {
    margin: 0;
    padding: 0;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;

    background-color: #000000;
    padding: 18px;
}

nav a:hover {
    font-weight: bold;
}

#logo-nav {
    color: #FFFFFF;
}

#menu-nav {
    /* margin-top: 7px; */
    margin-left: 900px;
}

#menu-nav ul {
    display: flex;
    flex-direction: row;
    /* justify-content: flex-end; */
    gap: 40px;
}

#menu-nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-size: 20px;
}

/* #menu-nav ul li a {
    color: #FFFFFF;
} */

.jumbotron {
    background-color: #111130;
    padding: 200px;
    height: 253px;

    display: flex;
    justify-content: center;
    gap: 300px;
    flex-direction: row;
}

.portfolios {
    background-color: #1E1E1E;

    padding: 100px 0 100px 0;
}

#port-body {
    display: flex;
    justify-content: center;
    gap: 50px;

    margin-top: 50px;
    margin-bottom: 50px;
}

#project {
    display: flex;
    flex-direction: column;
    
    width: 300px;

    border-style: solid;
    border-width: 2px;
    border-color: #5E88FB;

    color: #FFFFFF;

    /* background-color: white; */
}

#project button {
    margin-left: 5px;
    background-color: #5E88FB;
    border: none;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#project button:hover {
    font-weight: bold;
    cursor: pointer;
}

.certificates {
    background-color: #111130;

    padding: 100px 0 100px 0;
}

#certif-body {
    display: flex;
    justify-content: center;
    gap: 50px;

    margin-top: 50px;
    margin-bottom: 100px;
}

#certificate {
    display: flex;
    flex-direction: column;
    
    width: 300px;

    border-style: solid;
    border-width: 2px;
    border-color: #5E88FB;

    color: #FFFFFF;

    /* background-color: white; */
}

#certificate button {
    margin-left: 5px;
    background-color: #5E88FB;
    border: none;
    padding: 8px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

#certificate button:hover {
    font-weight: bold;
    cursor: pointer;
}

footer {
    background-color: #111130;
    padding: 20px 0 20px 0;
}

.logo {
    width: 40px;
    height: 40px;
}